.root {
    -fx-background-color: #212121;
}


#mainText {
    -fx-control-inner-background: #212121;

    -fx-border-width: 2;
    -fx-border-color:#DAA520;

    -fx-font-size: 15.0;
}

#input {
    -fx-border-color: #636363;
    -fx-background-color: #636363;

    -fx-text-fill: #efefef;
    -fx-font-size: 17.0;
}


#sideBar {
    -fx-border-color:#DAA520;
    -fx-border-width: 2;
}

#sideBar .label {
    -fx-text-fill: #efefef;
    -fx-text-aligment: CENTER;
}

#gridMap {
    -fx-font-size: 13.0;
}

#gridMap .label {
    -fx-text-fill: #efefef;
}